<link rel="stylesheet" href="css/style.css" data-inline="data-inline">

strong Hi #{name}
p The address #{to} #{type} #{wei} wei FROM the address #{from}
p This transaction was processed at block index #{blockNumber} (TxHash #{txLink}) on #{createdAt}
br
p Please see #{addressLink} for additional information.
br
p Best Regards,
p TOMO Team